@import "bower_components/bourbon/dist/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";
@import "bower_components/neat/app/assets/stylesheets/neat-helpers";

body {
  background: #f8f8f8;
  font-family: sans-serif;
}

#container {
  @include outer-container;
}

.pad {
  @include span-columns(6);
  @include shift(3);
  padding: 1em;
  border: 1px solid #f4f4f4;
  border-bottom: 1px solid #ddd;
  background: white;
  font-family: courier;
  margin-bottom: 1em;

  .offset {
    display: inline-block;
    width: 1.6em;
    text-align: center;
  }
}

#character_table {
  float: right;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 0.8em;

  table {
    .space {
      width: 1em;
      text-align: center;
    }

    font-family: courier;
  }
}

#options {
  text-align: center;
  @include span-columns(12);
}

button {
  @include button;
}

#explanation {
  @include span-columns(12);

  .tips {
    background: white;
    border: 1px solid #f4f4f4;
    border-bottom: 1px solid #ddd;
    padding: 1em;

    .mono {
      font-family: courier;
    }
  }
}

@import "print.scss";