@import "bower_components/bourbon/dist/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";
@import "bower_components/neat/app/assets/stylesheets/neat-helpers";

body {
  background: #f8f8f8;
  font-family: sans-serif;
  -webkit-backface-visibility: hidden;
}

#container {
  @include outer-container;
}

.pad {
  @include span-columns(6);
  @include shift(3);
  padding: 1em;
  border: 1px solid #f4f4f4;
  border-bottom: 1px solid #ddd;
  background: white;
  font-family: courier;
  margin-bottom: 1em;

  .offset {
    display: inline-block;
    width: 1.6em;
    text-align: center;
  }
}

#character_table {
  float: right;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 0.8em;

  table {
    .space {
      width: 1em;
      text-align: center;
    }

    font-family: courier;
  }
}

#options {
  text-align: center;
  @include span-columns(12);
}

button {
  @include button;
}

#explanation {
  @include span-columns(12);

  .tips {
    background: white;
    border: 1px solid #f4f4f4;
    border-bottom: 1px solid #ddd;
    padding: 1em;

    .mono {
      font-family: courier;
    }
  }
}

.tooltip-item {
  $base-font-color: #000;
  $base-border-color: #000;
  // $base-border-radius: 1px;
  $base-line-height: 1em;

  $tooltip-background: white;
  $tooltip-color: $base-font-color;
  $tooltip-width: 16em;
  $tooltip-arrow-width: 8px;
  $tooltip-shadow: 0 2px 2px silver;
  $tooltip-distance-from-item: 140%;
  $tooltip-arrow-distance-from-box: -$tooltip-arrow-width * 3.2;

  // border: 1px solid $base-border-color;
  // padding: .5em 1em;
  // border-radius: $base-border-radius;
  position: relative;
  margin-bottom: $base-line-height;

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    @include position(absolute, null null null 50%);
    @include box-sizing(border-box);
    @include transition (all 0.2s ease-in-out);
    bottom: $tooltip-distance-from-item;
    background-color: $tooltip-background;
    // border-radius: $base-border-radius;
    color: $tooltip-color;
    text-shadow: none;
    font-weight: normal;
    font-size: .9em;
    // Make sure you use -webkit-backface-visibility: hidden; on the body element to prevent 1px nudging bugs.
    line-height: 1.5em;
    margin-left: -($tooltip-width/2);
    opacity: 0;
    padding: 1em;
    box-shadow: $tooltip-shadow;
    text-align: center;
    visibility: hidden;
    min-width: $tooltip-width;
    z-index: 10;

    p {
      margin: 0;
    }

    &:after {
      @include position(absolute, null null null 46%);
      margin-left: -$tooltip-arrow-width;
      border: $tooltip-arrow-width solid transparent;
      color: $tooltip-background;
      content: '▼';
      text-shadow: $tooltip-shadow;
      font-size: 1.4em;
      pointer-events: none;
      // bottom: $tooltip-arrow-distance-from-box;
    }
  }
}