.label {
    /* Avery 5160 labels -- CSS and HTML by MM at Boulder Information Services */
    width: 4in; /* plus .6 inches from padding */
    height: 3in; /* plus .125 inches from padding */
    padding: .125in .3in 0;
    margin-right: .125in; /* the gutter */

    float: left;

    overflow: hidden;
}

.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
}

.cutting-line {
    outline: 1px dotted; /* outline doesn't occupy space like border does */
}