{{#each copy in copies}}

  <div id="pad" class="cutting-line">
    <div id="character_table">
      <table>
        <tr>
          <td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td class='space'></td>
          <td>F</td><td>G</td><td>H</td><td>I</td><td>J</td>
        </tr>
        <tr>
          <td>K</td><td>L</td><td>M</td><td>N</td><td>O</td><td class='space'></td>
          <td>P</td><td>Q</td><td>R</td><td>S</td><td>T</td>
        </tr>
        <tr>
          <td>U</td><td>V</td><td>W</td><td>X</td><td>Y</td><td class='space'></td>
          <td>Z</td><td>_</td><td>0</td><td>1</td><td>2</td>
        </tr>
        <tr>
          <td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td class='space'></td>
          <td>8</td><td>9</td><td>#</td><td>@</td><td>.</td>
        </tr>
      </table>
    </div>

    {{#each val in pad}}
      <span class='offset'>{{val}}</span>
    {{/each}}
  </div>

{{/each}}

<div class="page-break"></div>